<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    </base>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoummy - <%=receita.nome%>
    </title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<style>
    .title {
        font-weight: bold;
        font-size: 20px;
    }
</style>

<body>
    <%- include('./partials/header')%>
        <span class="title">
            <%=receita.nome%>
        </span><br>
        <div class="ingredientes flex-vr">
            <span class="title">Ingredientes:</span>
            <%for(const ingrediente of receita.ingredientes){%>
                <div class="ingrediente flex-hr">
                    <span>
                        <%=ingrediente.quantidade%>
                            <%if(ingrediente.medida){%>
                                <%=ingrediente.medida%>
                                    <%}%>
                                        <%if(ingrediente.ingrediente=="água" ){%>
                                            <span>d'</span>
                                            <%}else{%>
                                                <span>de</span>
                                                <%}%>
                                                    <%=ingrediente.ingrediente%>
                    </span>

                </div>
                <%}%>
        </div>
        <div class="passos flex-vr">
            <span class="title">Modo de preparo</span>
            <%for(const [i,passo] of receita.passos.entries()){%>
                <span class="passo-t">Passo <%=i+1%></span>
                <span class="passo">
                    > <%=passo%>
                </span>
                <%}%>
        </div>
        <div class="rating flex-vr">
            <span class="title">Gostou?</span>
            <div class="flex-hr" style="gap:10px">
                <a name="true">Sim</a>
                <a name="false">Não</a>
            </div>

        </div>
        <div class="comment-section flex-vr" style="gap:5px;">
            <span class="title">Comentários</span>
            <div class="my-comment flex-vr">
                <label>Nome:</label>
                <input type="text">
                <label>Comentário:</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <button>Comentar</button>
            </div>
            <%for(const comentario of receita.comentarios.reverse()){%>
                <div class="comentario flex-hr" style="gap:5px;">
                    <img src="../src/svgs/avatar.svg" width='50px' alt="">
                    <div class="comentario-itself flex-vr">
                        <div class="comentario-nome" style="font-weight: medium;">
                            <%=comentario.nome%>
                                <span class="time" value="<%=comentario.timestamp%>">
                                </span>
                        </div>
                        <div class="comentario-texto">
                            <%=comentario.comentario%>
                        </div>
                    </div>
                </div>
                <%}%>
                    <%if(receita.comentarios.length===0){%>
                        <span>Ainda não houve comentários desta receita</span>
                        <%}%>
        </div>

</body>
<script>
    function datar(ts) {
        function data(tts) { return new Date(tts).toLocaleString("pt-BR", { timeZone: 'America/Sao_Paulo' }) }
        function hr(tts) { return data(tts).split(" ")[1].slice(0, -3) }
        function dia(tts) { return data(tts).split(" ")[0] }
        var now = {
            day: dia(new Date().getTime()).split("/")[0],
            month: dia(new Date().getTime()).split("/")[1],
            year: dia(new Date().getTime()).split("/")[2],
            hours: hr(new Date().getTime()).split(":")[0],
            minutes: hr(new Date().getTime()).split(":")[1]
        }
        var isToday = (ts) => new Date().getTime() - 24 * 60 * 60 * 100 < ts
        var isYesterday = (ts) => new Date().getTime() - 2 * 24 * 60 * 60 * 100 < ts
        if (isToday) { return "Hoje às " + hr(ts) }
        if (isYesterday) { return "Ontem às" + hr(ts) }
        return dia(ts) + " às " + hr(ts)
    }
    $('.time').each((i, el) => {
        var ts = parseInt($(el).attr('value'));
        $(el).text(datar(ts));

    })


    $('.rating a').click(function () {
        var value = JSON.parse($(this).attr('name'))
        $.post('/vote', JSON.stringify({
            thumbUp: value,
            href: location.pathname.substring(2, location.pathname.length)
        }), function (res) {
            if (res.status == 200) {
                swal("Tudo certo", "Seu voto foi contado", "sucess")
            } else {
                swal("Oops", res.message, "error")
            }
        }).fail(() => alert('Falha no servidor'))
    })
    $('.my-comment button').click(function () {
        $.post('/comment', JSON.stringify({
            href: location.pathname.substring(2, location.pathname.length),
            comentario: { nome: $('.my-comment input').val(), comentario: $('.my-comment textarea').val() }
        }), function (res) {
            if (res.status == 200) {
                swal("Tudo certo", "Seu voto foi contado", "sucess")
                $('.comment-section > div:eq(1)')
                    .before(`
                    <div class="comentario flex-hr" style="gap:5px;">
                                <img src="../src/svgs/avatar.svg" width='50px' alt="">
                                <div class="comentario-itself flex-vr">
                                    <div class="comentario-nome" style="font-weight: medium;">
                                        ${$('.my-comment input').val()}
                                        <span class="time">Agora
                                        </span>
                                    </div>
                                <div class="comentario-texto">
                                    ${$('.my-comment textarea').val()}
                                </div>
                            </div>
                    </div>`
                    )
            } else {
                swal("Oops", res.message, "error")
            }
        }).fail(() => alert("Falha no servidor"))
    })
</script>

</html>